

<div class='body-container'>
  <h3>If your seeds instructions offer a range</h3>

  <div class='form-container'>
    <%= form_tag sow_by_date_path, method: "put", action: "update" do %>
      <%= label_tag :seeds %>
      <%= collection_select(:user, :seed_id, Seed.where(user_id: current_user.id), :id, :variety) %>
      <%= label_tag :from_week %>
      <%= text_field_tag :from_week %>
      <%= label_tag :to_week %>
      <%= text_field_tag :to_week %>
      <%= submit_tag :update %>
    <% end %>
  </div>

  <h3>If your seeds instructions offer a set time</h3>

  <div class='form-container'>
    <%= form_tag sow_by_date_path, method: "put" do %>
      <%= label_tag :seeds %>
      <%= collection_select(:user, :seed_id, Seed.where(user_id: current_user.id), :id, :variety) %>
      <%= label_tag :weeks %>
      <%= text_field_tag :weeks %>
      <%= submit_tag :search %>
    <% end %>
  </div>
</div> <!-- body-container -->
