<p>Enter your lat/long:</p>
<p>hint* for accurate frost date probabilities your latitude and longitude needs to be EXACT</p>
<p>(zipcode not yet implemented)</p>

<%= form_tag frost_date_search_path, method: "get" do %>

  <%= label_tag :latitude %>
  <%= text_field_tag :latitude %>
  <%= label_tag :longitude %>
  <%= text_field_tag :longitude %>
  <%= submit_tag :search %>
<% end %>
