<p>You have a 90% probability of frost on <%= @month_ninety %>, <%= @day_ninety %></p>
<p>You have a 50% probability of frost on <%= @month_fifty %>, <%= @day_fifty %></p>
<p>You have a 10% probability of frost on <%= @month_ten %>, <%= @day_ten %></p>

