<p>You have a 90% probability of frost on <%= @frost_dates[0] %>, <%= @frost_dates[1] %></p>
<p>You have a 50% probability of frost on <%= @frost_dates[2] %>, <%= @frost_dates[3] %></p>
<p>You have a 10% probability of frost on <%= @frost_dates[4] %>, <%= @frost_dates[5] %></p>


