<div class='body-container'>

  <p>
    <% if logged_in? %>
    <ul class="other-nav">
      <li>
        <%= link_to "Find Frost Dates by Locations", frost_date_searching_path %>
      </li>
      <li>
        <%= link_to "Add a Seed", new_seed_path %>

      </li>
      <li>
        <%= link_to "See Your Seeds", seeds_path %>
      </li>
      <li>
        <%= link_to "Quick 'Sow By' Calculator", sow_by_dates_path %>
      </li>

    </ul>
    <% elsif %>
    <ul class="body-links">
      <li>
        <%= link_to "Find frost dates for your location!", frost_date_searching_path %>
      </li>
    </ul>
    <% end %>
  </p>
</div>
